<img class="w-100" src="assets/imagenes/tit3.png" alt="">
<div class="container">
  <p class="descripcion pt-5">Somos dos mujeres emprendedoras al frente de esta firma, con más de 15 años de experiencia
    en procesos de búsqueda y atracción de talento ejecutivo. Contamos con un amplio conocimiento del mercado laboral en
    diversos sectores, lo que nos permite contribuir con efectividad a la identificación e integración del talento mejor
    calificado a las organizaciones.</p>
  <p class="descripcion">Estamos comprometidas en proporcionar un excelente servicio a nuestros clientes, solucionando
    sus necesidades de atracción de talento ejecutivo.</p>
</div>