<img src="assets/imagenes/imagen-2.png" alt="" class="w-100">
<div class="container">
  <p class="descripcion pt-5">Nos distingue la atención personalizada, nuestra ética profesional y la confidencialidad
    en todos los procesos que manejamos.</p><br><br>
    <div class="text-center"><img id="integridad" src="assets/imagenes/w1.png" alt=""><img id="servicio" src="assets/imagenes/w2.png" alt="">
    <img id="compromiso" src="assets/imagenes/w3.png" alt=""><img id="responsabilidad" src="assets/imagenes/w4.png" alt=""></div>
</div>