<img class="w-100" src="assets/imagenes/tit2.png" alt="">
<div class="container">
  <p class="descripcion pt-5">
    Nos enfocamos en conocer a nuestro cliente y entender muy bien sus necesidades para dirigir nuestra búsqueda y
    encontrar al mejor talento.
  </p>
  <p class="descripcion">Nos apoyamos de valiosas herramientas para sustentar y asegurar la alineación de las necesidades de nuestros
    clientes y el talento presentado,tales como: entrevista profunda por competencias, assesment center, pruebas
    psicométricas, revisión de referencias laborales y estudios sociolaborales.</p>
  <p class="descripcion">Durante todo el proceso mantenemos comunicación directa y cercana con nuestro cliente. Nos aseguramos de
    escucharlo, atenderlo y asesorarlo para lograr el resultado esperado.</p><br><br>  
</div>
<img class="w-100" src="assets/imagenes/Imagen-1.png" alt="">