<header id="top"></header>
<nav id="toolbar" class="navbar navbar-expand-sm navbar-light sticky-top toolbar">
  <a href="#top">
    <picture>
      <source media="(max-width: 768px)" srcset="assets/imagenes/logo_chico.png">
      <img id="logo" src="assets/imagenes/log.png" alt="" class="navbar-brand">
    </picture>
  </a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item"><a href="#quienes-somos" class="nav-link scroll navbar-text">¿Quiénes somos?</a></li>
    <li class="nav-item"><a href="#que-hacemos" class="nav-link scroll navbar-text">¿Qué hacemos?</a></li>
    <li class="nav-item"><a href="#nuestra-historia" class="nav-link scroll navbar-text">Nuestra Historia</a></li>
    <li class="nav-item"><a href="#valores" class="nav-link scroll navbar-text">Valores</a>
    </li>
    <li class="nav-item"><a href="#contacto" class="nav-link navbar-text">Contacto</a>
    </li>
  </ul>
</nav>
<main role="main">
  <img id="slider1" class="w-100" src="assets/imagenes/Slider-1.png" alt="">
  <app-quienes-somos></app-quienes-somos>
  <app-que-hacemos></app-que-hacemos>
  <app-nuestra-historia></app-nuestra-historia>
  <app-valores></app-valores>
  <app-contacto></app-contacto>
</main>
