/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

.descripcion{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
}
.datos{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
}
